<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
	Header set Cache-Control "max-age=31536000, public"
  </IfModule>
</FilesMatch>